.containerr {
    position: relative;
    text-align: center;
    color: white;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.rev_slider {
    overflow: hidden;
}
    .rev_slider {
        overflow: hidden;
    }
    .effect_layer {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
    .gyges .tp-thumb {
        opacity: 1
    }
    .gyges .tp-thumb-img-wrap {
        padding: 3px;
        background-color: rgba(0, 0, 0, 0.25);
        display: inline-block;
        width: 100%;
        height: 100%;
        position: relative;
        margin: 0px;
        box-sizing: border-box;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
    }
    .gyges .tp-thumb-image {
        padding: 3px;
        display: block;
        box-sizing: border-box;
        position: relative;
        -webkit-box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
        box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }
    .gyges .tp-thumb:hover .tp-thumb-img-wrap,
    .gyges .tp-thumb.selected .tp-thumb-img-wrap {
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
        background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
        background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    }
    .tp-caption.FullSiteBlock-Title,
    .FullSiteBlock-Title {
        color: rgba(51, 51, 51, 1.00);
        font-size: 55px;
        line-height: 65px;
        font-weight: 300;
        font-style: normal;
        font-family: Lato;
        padding: 0 0 0 0px;
        text-decoration: none;
        text-align: center;
        background-color: transparent;
        border-color: transparent;
        border-style: none;
        border-width: 0px;
        border-radius: 0 0 0 0px;
        text-align: center
    }
    .tp-caption.FullSiteBlock-SubTitle,
    .FullSiteBlock-SubTitle {
        color: rgba(51, 51, 51, 1.00);
        font-size: 25px;
        line-height: 34px;
        font-weight: 300;
        font-style: normal;
        font-family: Lato;
        padding: 0 0 0 0px;
        text-decoration: none;
        text-align: center;
        background-color: transparent;
        border-color: transparent;
        border-style: none;
        border-width: 0px;
        border-radius: 0 0 0 0px;
        text-align: center
    }
    .tp-caption.FullSiteBlock-Link,
    .FullSiteBlock-Link {
        color: rgba(0, 150, 255, 1.00);
        font-size: 25px;
        line-height: 24px;
        font-weight: 300;
        font-style: normal;
        font-family: Lato;
        padding: 0 0 0 0px;
        text-decoration: none;
        text-align: center;
        background-color: transparent;
        border-color: transparent;
        border-style: none;
        border-width: 0px;
        border-radius: 0 0 0 0px;
        text-align: center
    }
    .tp-caption.FullSiteBlock-Link:hover,
    .FullSiteBlock-Link:hover {
        color: rgba(51, 51, 51, 1.00);
        text-decoration: none;
        background-color: transparent;
        border-color: transparent;
        border-style: none;
        border-width: 0px;
        border-radius: 0 0 0 0px;
        cursor: pointer
    }
    .tp-caption.FullSiteBlock-SubTitle,
    .FullSiteBlock-SubTitle {
        color: rgba(51, 51, 51, 1.00);
        font-size: 25px;
        line-height: 34px;
        font-weight: 300;
        font-style: normal;
        font-family: Lato;
        padding: 0 0 0 0px;
        text-decoration: none;
        text-align: center;
        background-color: transparent;
        border-color: transparent;
        border-style: none;
        border-width: 0px;
        border-radius: 0 0 0 0px;
        text-align: center
    }
    .tp-caption.FullSiteBlock-SubTitle,
    .FullSiteBlock-SubTitle {
        color: rgba(51, 51, 51, 1.00);
        font-size: 25px;
        line-height: 34px;
        font-weight: 300;
        font-style: normal;
        font-family: Lato;
        padding: 0 0 0 0px;
        text-decoration: none;
        text-align: center;
        background-color: transparent;
        border-color: transparent;
        border-style: none;
        border-width: 0px;
        border-radius: 0 0 0 0px;
        text-align: center
    }
    .tp-caption.FullSiteBlock-FooterLink,
    .FullSiteBlock-FooterLink {
        color: rgba(85, 85, 85, 1.00);
        font-size: 15px;
        line-height: 20px;
        font-weight: 300;
        font-style: normal;
        font-family: Lato;
        padding: 0 0 0 0px;
        text-decoration: none;
        text-align: left;
        background-color: transparent;
        border-color: transparent;
        border-style: none;
        border-width: 0px;
        border-radius: 0 0 0 0px;
        text-align: left
    }
    .tp-caption.FullSiteBlock-FooterLink:hover,
    .FullSiteBlock-FooterLink:hover {
        color: rgba(0, 150, 255, 1.00);
        text-decoration: none;
        background-color: transparent;
        border-color: transparent;
        border-style: none;
        border-width: 0px;
        border-radius: 0 0 0 0px;
        cursor: pointer
    }
    .fb-share-button.fb_iframe_widget iframe {
        width: 115px!important;
    }
    #tp-socialwrapper {
        opacity: 0;
    }

        .tp-caption.Twitter-Content a,
    .tp-caption.Twitter-Content a:visited {
        color: #0084B4 !important
    }
    .tp-caption.Twitter-Content a:hover {
        color: #0084B4 !important;
        text-decoration: underline !important
    }
    #menu_forcefullwidth {
        z-index: 5000;
        position: fixed !important;
        top: 0px;
        left: 0px;
        width: 100%
    }
    #tp-menubg {
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
        /* FF3.6-15 */

        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */

        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d9000000', endColorstr='#00000000', GradientType=0);
        /* IE6-9 */
    }
    #mc_embed_signup input[type="email"] {
        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-weight: 400;
        background-color: #fff;
        color: #888 !important;
        line-height: 46px;
        padding: 0 20px;
        cursor: text;
        border: 0;
        width: 400px;
        margin-bottom: 0px;
        -webkit-transition: background-color 0.5s;
        -moz-transition: background-color 0.5s;
        -o-transition: background-color 0.5s;
        -ms-transition: background-color 0.5s;
        transition: background-color 0.5s;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    #mc_embed_signup input[type="email"]::-webkit-input-placeholder {
        color: #888 !important;
    }
    #mc_embed_signup input[type="email"]::-moz-placeholder {
        color: #888 !important;
    }
    #mc_embed_signup input[type="email"]:-ms-input-placeholder {
        color: #888 !important;
    }
    #mc_embed_signup input[type="email"]:focus {
        background-color: #f5f5f5;
        color: #454545;
    }
    #mc_embed_signup input#mc-embedded-subscribe,
    #mc_embed_signup input#mc-embedded-subscribe:focus {
        font-family: "Lato", sans-serif;
        line-height: 46px;
        font-size: 16px;
        font-weight: 700;
        padding: 0 30px;
        border: 0;
        background: #f04531;
        text-transform: none;
        color: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    #mc_embed_signup input#mc-embedded-subscribe:hover {
        background: #e03727;
    }
    @media only screen and (max-width: 767px) {
        #mc_embed_signup input[type="email"] {
            width: 260px;
        }
    }
    @media only screen and (max-width: 480px) {
        #mc_embed_signup input[type="email"] {
            width: 160px;
        }
    }
    #rev_slider_167_6 .uranus.tparrows {
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0);
    }
    #rev_slider_167_6 .uranus.tparrows:before {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 40px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
    }
    #rev_slider_167_6 .uranus.tparrows:hover:before {
        opacity: 0.75;
    }
    .tp-caption.FullSiteBlock-SubTitle,
    .FullSiteBlock-SubTitle {
        color: rgba(51, 51, 51, 1.00);
        font-size: 25px;
        line-height: 34px;
        font-weight: 300;
        font-style: normal;
        font-family: Lato;
        padding: 0 0 0 0px;
        text-decoration: none;
        text-align: center;
        background-color: transparent;
        border-color: transparent;
        border-style: none;
        border-width: 0px;
        border-radius: 0 0 0 0px;
        text-align: center
    }
    .tp-caption.ParallaxWebsite-FooterItem,
    .ParallaxWebsite-FooterItem {
        color: rgba(255, 255, 255, 0.50);
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        font-style: normal;
        font-family: Lato;
        padding: 0 0 0 0px;
        text-decoration: none;
        text-align: left;
        background-color: transparent;
        border-color: transparent;
        border-style: none;
        border-width: 0px;
        border-radius: 0 0 0 0px
    }
    .tp-caption.ParallaxWebsite-FooterItem:hover,
    .ParallaxWebsite-FooterItem:hover {
        color: rgba(255, 255, 255, 1.00);
        text-decoration: none;
        background-color: transparent;
        border-color: transparent;
        border-style: none;
        border-width: 0px;
        border-radius: 0 0 0 0px;
        cursor: pointer
    }
    .fb-share-button.fb_iframe_widget iframe {
        width: 115px!important;
    }
    iframe.twitter-share-button {
        display: none;
    }
    .fb-share-button.fb_iframe_widget iframe {
        display: none;
    }

    .tp-caption.FullSiteBlock-Link,
    .FullSiteBlock-Link {
    color: rgba(0,150,255,1.00);
    font-size: 25px;
    line-height: 24px;
    font-weight: 300;
    font-style: normal;
    font-family: Lato;
    padding: 0 0 0 0px;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px;
    text-align: center;
}


/* Style text */
/* Title */
.rev_slider li.tp-revslider-slidesli .overlay-black {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}
.tp-caption.title-slide {
	color: #222;
	letter-spacing: 0px;
	font-family: "Montserrat", sans-serif;
}

/* Sub title */
.tp-caption.sub-title {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #222;
}

/* Button */
.tp-caption.flat-button-slider {
	border: 2px solid #fff;
	color: #fff;
	text-shadow: 0px 1px 1px rgba(000000, 0, 0, 0.15);
	line-height: 46px;
	font-size: 14px;
	border-radius: 30px;
	font-weight: 700;
	font-family: "Montserrat", sans-serif;
	-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
		    transition: all 0.3s ease-in-out;
}

/* Button Blue */
.tp-caption.flat-button-slider.bg-blue  {
    border-color: #1c4675;
    background: #1c4675;
	padding: 0 41px 0 41px;
}

.tp-caption.flat-button-slider.bg-white {
	background-color: #fff;
	color: #1c4675;
	padding: 0 41px 0 41px;
}

.tp-caption.flat-button-slider.bg-white:hover {
	background-color: #252525 !important;
}

.tp-caption.flat-button-slider.bg-blue1 {
	background-color: #1c4671;
	border-color: #1c4671;
	padding: 0 41px 0 41px;
}

.tp-caption.flat-button-slider.bg-blue:hover,
.tp-caption.flat-button-slider:hover {
	background-color: #2e363a;
	border-color:#2e363a;
}

/* Button Transparent */
.tp-caption.flat-button-slider.bg-transparent  {
    border-color: #1c4675;
    background: transparent;
	padding: 0 40px 0 41px;
}

.tp-caption.flat-button-slider.bg-transparent:hover,
.tp-caption.flat-button-slider:hover {
	background-color: #1c4675;
	border-color:#1c4675;
}

/* Button Blue #2196f3 */
.tp-caption.flat-button-slider.bg-blue_2196f3  {
    border-color: #2196f3;
    background: #2196f3;
	padding: 0 27px 0 33px;
}

.tp-caption.flat-button-slider.bg-blue_2196f3:hover, .tp-caption.flat-button-slider:hover {
	background-color: #2e363a;
	border-color:transparent;
}

/* title, sub-title color white */
.tp-caption.title-slide.color-white,
.tp-caption.sub-title.color-white {
	color: #ffffff;
}

.tp-caption.title-slide.letter-spacing3px {
	letter-spacing: 0px !important;
}

/* Button border-radius */
.tp-caption.flat-button-slider.border-radius-3px {
	border-radius: 3px;
}

#banner-slide .tparrows {
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

#banner-slide:hover .tparrows {
	opacity: 1;
}

#banner-slide-3 .tparrows {
	background-color: transparent;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

#banner-slide-3:hover .tparrows {
	opacity: 1;
}

#banner-slide-3 .tparrows:hover {
	background-color: #1c4675;
}